.folder {
	text-decoration: none;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 6vw;
	height: 8vh;
}



.folder__link {
	text-decoration: none;
}

.folder__text {
	font-family: Roboto;
	text-align: center;
	color: #00BCD4;
	text-overflow: ellipsis;
	overflow: hidden;
}

.folder__svg {
	margin: auto;
	display: block;
	margin-bottom: 6px;
	color: #00BCD4;
	transition: color 0.2s;
}

.folder:hover .folder__svg {
	color: #008CA4;
}

.folder:hover .folder__text {
	color: #008CA4;
}
