.filepath {
	display: flex;
	margin-right: 5px;
	text-decoration: none;
	font-size: 25px;
	overflow: hidden;
}

.filepath_home {
	background-color: #00bdd3;
}

.filepath_normal {
	background-color: #cccccc;
}

.filepath__corner>.filepath_normal {
	border-left: 30px solid #cccccc;
	background-color: transparent;
}

.filepath__corner>.filepath_home {
	border-left: 30px solid #00bdd3;
	background-color: transparent;
}

.filepath_graytext {
	color: #2C3E50;
}

.filepath__svg {
	height: 100%;
}

.filepath__svgdiv {
	width: 10px;
	line-height: 50px;
}

.filepath__text {
	line-height: 200%;
	font-family: Roboto;
	max-width: 6vw;
	overflow: hidden;
	text-overflow: ellipsis;
}

.filepath__corner {
	position: relative;
	padding-right: 5px
}

.corner__div {
	position:relative;
	top: -4px;
	width: 0;
	height: 0;
	border-top: 29px solid transparent;
	border-left:  30px solid black;
	border-bottom: 29px solid transparent;
}

.corner_first {
	left: 2px;
	border-left:  30px solid black;
}

.corner_second {
	position: absolute;
	left: 0px;
	border-left:  30px solid black;
}

.filepath:last-child .corner__div {
	display: none;
}

.filepath:last-child .filepath__text {
	overflow: auto;
	text-overflow: auto;
	max-width: none;
}

.filebox {
	display: flex;
}

.filebox_50 {
	height: 50px;
}

.filebox_gray {
	background-color: #cccccc;
}